<div class="row my-4">
    <div class="col-12 text-center">
        <div class="btn-groups">
            <button class="btn " (click)="changeTab('Roles')" [ngClass]="currentComponent == 'Roles'?'btn-success':'btn-primary'">Roles</button>
            <button class="btn " (click)="changeTab('Designaton')" [ngClass]="currentComponent == 'Designaton'?'btn-success':'btn-primary'">Designaton</button>
            <button class="btn btn-primary">Task</button>
        </div>       
    </div>
</div>
<div class="row">
    <div class="col-12 text-center" *ngIf="currentComponent == 'Roles'">
        <app-roles/>
    </div>
    <div class="col-12 text-center" *ngIf="currentComponent == 'Designaton'">
        <app-designation/>
    </div>
</div>
